<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Protegido</title>

  <!-- Vinculamos la hoja de estilos externa para el chat -->
  <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
  <!--
    Elemento oculto para pasar datos del servidor (EJS) al cliente (JavaScript).
    Incrustamos el nombre de usuario en un atributo data-username.
    Nuestro script 'chat.js' leer치 este valor para identificarse.
  -->
  <div id="user-info" data-username="<%= user.username %>" style="display: none;"></div>

  <!-- Esta es la estructura HTML del chat, tambi칠n de client/index.html -->
  <section id="chat">
    <header class="chat-header">
      <span>Bienvenido, <%= user.username %></span>
      <div class="header-buttons">
        <button id="theme-toggle-button" class="theme-toggle-button">游깿</button>
        <button id="logout-button">Cerrar Sesi칩n</button>
      </div>
    </header>
    <ul id="messages"></ul>
    <form id="form">
      <input type="text" name="message" id="input" placeholder="Escribe un mensaje..." autocomplete="off" />
      <button type="submit">Enviar</button>
    </form>
  </section>

  <!--
    Aqu칤 est치 la magia de la integraci칩n.
    Cargamos el script del chat que externalizamos antes.
    La ruta '/js/chat.js' funcionar치 porque en el siguiente paso
    le diremos a Express que la carpeta 'public' es nuestro directorio de est치ticos.
  -->
  <script type="module" src="/js/chat.js"></script>
  <script src="/js/theme-switcher.js"></script>
</body>

</html>
